* {
    padding: 0;
    margin: 0;

}

nav {
    background-color: white;
    /* padding: 20px; */
}

ul li {
    list-style-type: none;
    margin: 25px;
    display: inline;
}

.light{
    text-align: start;
    position: relative;
    top: 20px;
    
}

.demo{
    text-align: right;

}


.one {
    color: brown;
    padding:10px 7px;
    background-color: rgba(255, 0, 0, 0.384);
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

h6 {
    text-align: center;
    font-size: 20px;
}
.default {
    background-color: rgba(176, 224, 230, 0.493);
    padding-bottom: 20px;
}
h3 {
    text-align: center;
    font-size: 30px;
}

.box {
    font-size: size 0.5px;
    text-align: center;
    padding-bottom: 50px;
}

table th{
    border-bottom: 2px solid rgba(0, 0, 0, 0.678);
    
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    margin-bottom: 20px;
}

table td{
    text-align: center;
    padding: 20px;
}

@media (max) {
    
}

@media(max-width:642px){
    .demo {
        margin-left: 50px;
        font-size: 15px;
        padding-bottom: 10px;
    }

}

